.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(171, 106, 255, 0.8);
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: rgba(185, 131, 255, 0.8);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url(../img/MyPic.jfif);
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #2C272E;
}

.menu .nav-items {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-items.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-items.current > a {
  color: #2C272E;
}

.menu .nav-link {
  display: inline;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #2C272E;
}

.nav-items:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-items:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-items:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-items:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-items:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #B983FF;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Mali', cursive;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/m.jfif);
  background-attachment: fixed;
  background-size: cover;
}

body#bg-img:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(44, 39, 46, 0.9);
}

h1, h2, h3 {
  margin: 0;
  font-weight: 500;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 4rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(192, 144, 255, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #B983FF;
}

main {
  padding: 4rem;
  min-height: calc(100vh-60vh);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #B983FF;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}

.about-info {
  color: #2C272E;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
      grid-template-areas: 'bio-image bio bio' 'training1 training2 training3';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-family: 'Balsamiq Sans', cursive;
  font-size: 20px;
}

.bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bio-image;
  margin: auto;
  border-radius: 50%;
  border: #2C272E 3px solid;
  size: 10px;
}

.bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.training1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: training1;
}

.training2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: training2;
}

.training3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: training3;
}

.training {
  background: #c597ff;
  padding: 0.5rem;
  border-bottom: #2C272E 5px solid;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.boxes span {
  color: #2C272E;
}

.boxes div {
  font-size: 2rem;
  border: 3px #2C272E solid;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
  background: #2C272E;
}

.boxes div:hover span {
  color: #B983FF;
}

.technologies {
  display: inline-block;
  margin: 25px 10px;
  text-align: center;
  color: #2C272E;
  font-size: 18px;
}

.tools {
  display: inline-block;
  margin: 25px 10px;
  text-align: center;
  color: #2C272E;
  font-size: 18px;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #9c50ff;
  color: #fff;
  height: 60px;
}

#contact-footer {
  text-align: center;
  padding: 1rem;
  background: #9c50ff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 60vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 40vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .portrait {
    background: url(../img/MyPic.jfif);
    height: 150px;
    width: 150px;
  }
  .about-info {
        grid-template-areas: 'bio-image' 'bio' 'training1' 'training2' 'training3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact-footer {
    text-align: center;
    padding: 1rem;
    background: #9c50ff;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .boxes div {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
}
/*# sourceMappingURL=main.css.map */